/**** --LEGEND-- ****/
/* 
   --COLOURS--
   --FONTS--
   --VISUAL BRANDING--
   --UTILITY--
   --NAVIGATION--
   --LINKS AND FORMS--
   --INTERACTIVE ELEMENTS--
   --MEDIA QUERIES--

*/
@import url("hover.css");

/* --COLOURS-- */

:root {
    --mainGreen: #5cc5bd;
    --color2: #5fb0c7;
    --mainBlue: #6193ca;
    --secondPurple: #6476cc;
    --mainPurple: #7467ce;
    --darkPurple:#564C99
}

/* --FONTS-- */
@font-face{
  font-family: Merriweather;
  src: url("./Merriweather/Merriweather-Regular.ttf");
  font-weight:normal;
}

@font-face{
  font-family: MerriweatherBold;
  src: url("./Merriweather/Merriweather-Bold.ttf");
  font-weight:bold;
}
@font-face{
  font-family: Consolas;
  src: url("Consolas.ttf");
}

h1, h2, h3{
  font-family: Merriweather;
}
h3{
  font-size:20px
}
p{
  font-family: Calibri;
  font-size: 20px;
}

.merriweather-normal{
  font-family: Merriweather;
}

.merriweather-bold{
  font-family: MerriweatherBold;
}

/* --VISUAL BRANDING-- */

.background-texture{
  background-image: url("../images/funky-lines.png");
}

.dot-point{
  color:var(--mainGreen);
  font-family:Consolas;
  font-size:30px;
  font-weight:bold;
}
section li:before{
  content:">";
  color:var(--mainGreen);
  font-family:Consolas;
  font-size:30px;
  font-weight:bold;
  display:inline-block;
  width:1em;
  margin-left:-1em;
}

ul{
  list-style: none;
  font-family: Calibri;
  font-size: 20px;
  list-style-position: outside;
}


.bottom-line {
  border-bottom: solid 2px;
  border-color: var(--mainBlue);
  margin-left:15px;
  margin-right:15px;
}

.bottom-line-body{
  border-bottom: solid 2px;
  border-color: var(--mainBlue);
}
.top-line{
  border-top: solid 2px;
  border-color: var(--mainBlue);
  margin-left:0px;
  margin-right:0px;
  margin-top:30px;
  
}

.color-blue{
  color: var(--mainBlue);
}

.info-box{
  border:2px solid var(--mainBlue);
  width:300px;
  height:300px;
  border-radius: 30px;
  background-color:white;
  
}
.skills-box{
  border:2px solid var(--mainBlue);
  border-radius: 30px;
  background-color:white;
  margin-top:50px;
}


.carousel-indicators li{
  height:10px;
  width:10px;
  border-radius:5px;
  background-color:var(--mainBlue);
}

.port-image{
  border-radius:20px;
  margin-bottom:10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right:5px;
  padding-left:5px;
}

/* --UTILITY-- */
.row{
  margin-left:1px;
  margin-right:1px;
}
.container-fluid{
  padding-left:5px;
  padding-right:5px;
}
.bottom{
  margin-top:auto;
  margin-bottom:0;
}
.inline{
  display:inline;
}
.inline-block{
  display:inline-block
}
.responsive{
  width:10%;
  height:auto;
  font-size:3vw;
}

.header-spacing{
  margin-top:150px;
}

.img-stretch{
  width:100%;
  height:100%;
}
.block{
  display:block;
}

.br40{
  border-radius: 40px;
}

.br30{
  border-radius: 30px;
}

.text-13{
  font-size:130%;
}
.text-16{
  font-size:160%;
}

.shadow{
  box-shadow:3px 3px;
}

.min-width-100{
  min-width:100px;
}
.max-width-250{
  max-width:250px;
}
.max-width-500{
  max-width:500px;
}
.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center{
  margin:auto;
}
.top-spacing{
  margin-top:150px;
  padding-top:50px;
}

nav{
  background-color:rgba(255, 255, 255,1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}



/* --NAVIGATION-- */
.active{
  border-bottom: solid 2px;
  border-color: var(--mainBlue);
}
.no-hover:hover{
  color: var(--mainBlue);
  text-decoration: none;
}

.nav-link-hover{
  border-bottom:solid 2px transparent;
}
.nav-link:hover{
  color: var(--mainBlue);
}
/*.nav-link-hover:hover{
  border-bottom: solid 2px;
  border-color: var(--mainBlue);
}*/
.navbar-brand:hover{
  color: var(--mainBlue);
  transform:translateY(-5px);
}
.navbar-brand{
  transition: transform 0.5s;
}
.up-shadow-trans{
  transition: transform 0.5s, box-shadow 0.5s;
}
.up-shadow-trans:hover{
  transform:translateY(-10px);
  box-shadow: 5px 10px;
  
}
.up-trans{
  transition: transform 0.5s;
}
.up-trans:hover{
  transform:translateY(-10px);
}

/* --LINKS AND FORMS--*/

a{
  color: var(--mainBlue);
}

.main-button{
  background-color: var(--mainPurple);
  font-family:Calibri;
  color:white;
  border-radius:40px;
  padding:5px 15px;
  transition-duration: 0.4s;
  text-align:center;
}

.main-button:hover{
  background-color: var(--darkPurple);
}

.no-button-edge{
  border:none;
}
.ptr{
  cursor:pointer;
}
.form-control{
  border-color:var(--mainBlue);
}
.form-control:focus{
  box-shadow:0px 0px 0px 1px var(--mainBlue);
  border-color:var(--mainBlue);
}

.main-button:hover{
  text-decoration: none;
  color:white;
}

/* --INTERACTIVE ELEMENTS-- */

.carousel-inner{
  width:100%;
  border:solid 2px var(--mainBlue);
}

.carousel-item{
  border-bottom:none;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236193ca' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236193ca' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}



/*--MEDIA QUERIES--*/



